# Node.js dependencies
**/node_modules/

# Build directories
**/dist/
**/build/

# Logs
logs/
*.log

# Environment variables
**/.env

# OS-specific files
.DS_Store

# IDE files
.vscode/
.idea/

# Coverage directory
coverage/

# Yarn specific
.yarn/

# NPM specific
package-lock.json

# Optional npm cache directory
.npm/

# Mac system files
._*

# Other